<style>
    .maincontainer{
        width: 100vw;
        height: 100vh;
        background-color: #4834d4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box{
        background: #fff;
        width: 50vw;
        height: 85vh;
        padding: 5px;
        border-radius: 15px;
        /* overflow: scroll; */
    }
    .headingtext{
    font-size: 25px;
    font-family: Lobster;
    padding: 5px;
    }
    .headingtext1{
    font-size: 20px;
    font-family: Roboto Condensed;
    font-weight: bold;
    padding: 4px;
    }
</style>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="/static/category.js"></script>
        <title> Pay N Rent | Edit/Delete</title>
        <link rel="website icon" type="jpg" href="/static/logo.jpg">
    </head>
    <body>
        <div class="maincontainer">
            <div class="box">
                <form class="row g-3" action="/api/vehicleedit" enctype="multipart/form-data"> {% csrf_token %} 
                    <div class="col-md-12 headingtext">
                        <img src="/static/logo1.png" style="width:70px; height:60;"/>
                        Edit Vehicle
                    </div>
                    <input type="hidden" name="id" value="{{data.id}}">
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="categoryid" class="form-label"><b>Category Id</b></label>
                        <select type="text" name="categoryid" class="form-select"id="categoryid">
                            <option  value="{{data.categoryid}}">{{data.categoryname}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="comapanyname" class="form-label"><b>Company Name</b></label>
                        <select type="text" name="companyname" class="form-select" id="companyname">
                            <option>{{data.companyname}}</option>
                            <option> Maruti</option>
                            <option> MG</option>
                            <option> Toyota</option>
                            <option> Mahindra</option>
                            <option> Tata</option>
                            <option> Force</option>
                            <option> Kia</option>
                            <option> Voxwagon</option>
                            <option> Nissan</option>
                            <option>Audi</option>
                            <option>BMW</option>
                            <option>Mercedes</option>
                        </select>
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="subcategoryid" class="form-label"><b>SubCategory Name</b></label>
                        <select type="text" name="subcategoryid" class="form-select" id="subcategoryid">
                            <option value="{{data.subcategorid}}">{{data.subcategoryname}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="varient" class="form-label"><b>Variant</b></label>
                        <input type="text" name="varient" value="{{data.variant}}" class="form-control" id="varient" >
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="modelyear" class="form-label"><b>Model Year</b></label>
                        <input type="text" name="modelyear" value="{{data.modelyear}}" class="form-control" id="modelyear" >
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="price" class="form-label"><b>Price</b></label>
                        <input type="text" name="price" value="{{data.price}}" class="form-control" id="price" >
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                    <div><b>Insurance</b></div>
                    <div style="display: flex; justify-content: space-evenly; flex-direction: row;">
                    {% if data.insured == "Yes" %}
                            <div class="form-check"style="padding-top: 8px;">
                                <input class="form-check-input" type="radio" value="Yes" name="insured" id="insured" checked>
                                <label class="form-check-label" for="insured">
                                Yes
                                </label>
                            </div>
                            <div class="form-check"style="padding-top: 8px;">
                                <input class="form-check-input" type="radio" value="No" name="insured" id="insured">
                                <label class="form-check-label" for="insured">
                                No
                                </label>
                            </div>
                    {% else %}
                            <div class="form-check"style="padding-top: 8px;">
                                <input class="form-check-input" type="radio" value="Yes" name="insured" id="insured">
                                <label class="form-check-label" for="insured">
                                Yes
                                </label>
                            </div>
                            <div class="form-check"style="padding-top: 8px;">
                                <input class="form-check-input" type="radio" value="No" name="insured" id="insured" checked>
                                <label class="form-check-label" for="insured">
                                No
                                </label>
                            </div>
                    {% endif %}
                    </div>
                </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="registrationno" class="form-label"><b>Registration No</b></label>
                        <input type="text" name="registrationno" value="{{data.registrationno}}" class="form-control" id="registrationno" >
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="ownername" class="form-label"><b>Owner Name</b></label>
                        <input type="text" name="ownername" value="{{data.ownername}}" class="form-control" id="ownername" >
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="mobileno" class="form-label"><b>Mobile No</b></label>
                        <input type="text" name="mobileno" value="{{data.mobileno}}" class="form-control" id="mobileno" >
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="color" class="form-label"><b>Colour</b></label>
                        <input type="text" name="color" value="{{data.color}}" class="form-control" id="color">
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <lable for="fueltype" class="form-label"><b>Fuel Type</b></lable>
                        <select type="text" name="fueltype" class="form-select" id="fueltype" style="margin-top: 8;">
                            <option>{{data.fueltype}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <label for="noofseats" class="form-label"><b>No. Of Seats</b></label>
                        <input type="text" name="noofseats" value={{data.noofseats}} class="form-control" id="noofseats">
                    </div>
                    <div class="col-md-4 headingtext1"style="margin-top: 5px;">
                        <div><b>Transmission</b></div>
                        <div style="display: flex; justify-content: space-evenly; flex-direction: row;">
                        {% if data.transmissiontype == "Automatic" %}
                        <div class="form-check"style="padding-top: 8px;">
                            <input class="form-check-input" type="radio" value="Automatic" name="transmissiontype" id="transmissiontype" checked>
                            <label class="form-check-label" for="transmissiontype">
                            Automatic
                            </label>
                        </div>
                        <div class="form-check" style="padding-top: 8px;">
                            <input class="form-check-input" type="radio" value="Manual" name="transmissiontype" id="transmissiontype">
                            <label class="form-check-label" for="transmissiontype">
                            Manual
                            </label>
                        </div>
                        {% else %}
                        <div class="form-check"style="padding-top: 8px;">
                            <input class="form-check-input" type="radio" value="Automatic" name="transmissiontype" id="transmissiontype">
                            <label class="form-check-label" for="transmissiontype">
                            Automatic
                            </label>
                        </div>
                        <div class="form-check" style="padding-top: 8px;">
                            <input class="form-check-input" type="radio" value="Manual" name="transmissiontype" id="transmissiontype" checked>
                            <label class="form-check-label" for="transmissiontype">
                            Manual
                            </label>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12" style="display: flex;justify-content: space-between;">
                    <div class="col-md-6" style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
                        <button style="width: 75%;" value="EDIT" type="submit" name="btn" class="btn btn-success">Edit</button>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: center; align-items: center; padding-top: 5px;">
                        <button style="width: 75%;" value="DELETE" type="submit" name="btn" class="btn btn-danger">Delete</button>
                    </div>
                    </div>
                    <div class="col-md-12" style="display: flex;flex-direction: row; align-items: center; justify-content: center;">
                        <span style="font-weight: bold;">{{message}}</b></span>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>