<style>
    .maincontainer1{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100vw;
    height: 100vh;
    /* background-image: url(background3.png); */
    background: #4834d4;
    background-repeat: no-repeat;
    }
    .box1{
    padding: 10px;
    background:#fff;
    border-radius: 25px;
    border: 2px solid rgba(10, 20, 30, 20);
    width: 75vw;
    height: 75vh; /* use auto for auto increament */
    overflow: scroll;
    }
    .headingtext4{
    font-size: 25px;
    font-family: Playfair Display;
    color: #000000;
    font-weight: bold;
    padding: 15px;
    }
</style>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <title>
          Pay N Rent | Display Vehicles
        </title>
        <link rel="website icon" type="jpg" href="/static/logo1.png">
    </head>
    <body>
    <div class="maincontainer1">
        <div class="box1">
          <div class="col-md-12" style="width: 90vw;display: flex;flex-direction: row; align-items: center; justify-content: space-between;">
            <div class="headingtext4">
                <img src="/static/logo1.png" style="width:60px; height: 60px;margin-right: 2px;"/>
                List Of Vehciles
            </div>
            <div>
              <a href="/api/vehicleinterface"><img src="/static/addlogo1.jpg" style="width: 80;height: 80;"/></a>
            </div>
          </div>
        <table class="table table-bordered border-primary table-success border border-success">
            <thead>
              <tr>
                <th scope="col"  style="padding: 5px;">Vehicle Id</th>
                <th scope="col" style="padding: 5px;">Category Name</th>
                <th scope="col"style="padding: 5px;">SubCategory Name</th>
                <th scope="col"style="padding: 5px;">Variant</th>
                <th scope="col"style="padding: 5px;">Model Year</th>
                <th scope="col"style="padding: 5px;">Price</th>
                <th scope="col"style="padding: 5px;">Insured</th>
                <th scope="col"style="padding: 5px;">Registration No</th>
                <th scope="col"style="padding: 5px;">Owner Name</th>
                <th scope="col"style="padding: 5px;">Mobile No</th>
                <th scope="col"style="padding: 5px;">Colour</th>
                <th scope="col"style="padding: 5px;">Fuel Type</th>
                <th scope="col"style="padding: 5px;">Number Of Seats</th>
                <th scope="col"style="padding: 5px;">Transmission Type</th>
                <th scope="col"style="padding: 5px;"><center>Picture</center></th>
                <th scope="col"style="padding: 5px;">Edit/Delete</th>
              </tr>
            </thead>
            <tbody class="table-group-divider" style="text-align: center;">
                <tr>
                  {% for record in data %}
                  <th scope="row">{{record.id}}</th>
                  <td style="padding: 5px;">{{record.categoryname}}</td>
                  <td style="padding: 5px;">{{record.companyname}} {{record.subcategoryname}}</td>
                  <td style="padding: 5px;">{{record.variant}}</td>
                  <td style="padding: 5px;">{{record.modelyear}}</td>
                  <td style="padding: 5px;">{{record.price}}</td>
                  <td style="padding: 5px;">{{record.insured}}</td>
                  <td style="padding: 5px;">{{record.registrationno}}</td>
                  <td style="padding: 5px;">{{record.ownername}}</td>
                  <td style="padding: 5px;">{{record.mobileno}}</td>
                  <td style="padding: 5px;">{{record.color}}</td>
                  <td style="padding: 5px;">{{record.fueltype}}</td>
                  <td style="padding: 5px;">{{record.noofseats}}</td>
                  <td style="padding: 5px;">{{record.transmissiontype}}</td>
                  <td style="padding: 5px;"><center><a href="/api/displayvehiclepicture?id={{record.id}}&sn={{record.subcategoryname}}&picture=/{{record.picture}}&var={{record.variant}}&model={{record.modelyear}}"><img src="/{{record.picture}}" style="height: 100px;"/></a></center></td>
                  <td style="padding: 5px;"><a href="/api/displayvehiclebyid?id={{record.id}}" style="text-decoration: none;">Edit/Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
    </div>
    </body>
</html>